# 指明lombok的根目录为当前配置文件所在目录 阻止lombok继续向上层目录查找配置文件
config.stopBubbling=true
# 在生成的代码上添加@lombok.Generated注解
lombok.addLombokGeneratedAnnotation=true
# 生成toString方法时, callSuper的默认值
lombok.tostring.callsuper=CALL
# 生成equals 和 hashCode方法时, 控制在生成的 equals 和 hashCode 方法中是否调用父类的对应方法
# callSuper的默认值 lombok.core.configuration.CallSuperType
# CALL: 在生成的 equals 和 hashCode 方法中调用父类的对应方法。
# SKIP: 不调用父类的方法，只考虑当前类中的属性。
# WARN: 生成代码时会发出警告，提醒开发者是否需要调用父类的方法。
lombok.equalsandhashcode.callsuper=CALL
# 生成的setter方法不再是void, 而是返回this, 方便链式调用,这个选项视情况而定，感觉不好用
lombok.accessors.chain=false
