<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laker.admin.module.sys.mapper.SysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.laker.admin.module.sys.entity.SysDept">
        <id column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="address" property="address" />
        <result column="pid" property="pid" />
        <result column="status" property="status" />
        <result column="sort" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, dept_name, address, pid, status, sort
    </sql>

</mapper>
